.episodes {
  display: flex;
  justify-content: center;
}

.episodes ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.episodes li {
  margin-bottom: 10px;
  background-color: #181818db;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.episodes li:hover {
  background-color: #797978;
  color: #000000db;
}

.episodes a {
  text-decoration: none;
  color: #ffffff;
  font-family: var(--font-family-default);
}